
<div class="body-section">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Fee Item</th>
                <th class="w-20">Price(GHS)</th>
                {% comment %} <th class="w-20">Total({{base}})</th> {% endcomment %}
            </tr>
        </thead>

        <tbody>
            {% for key, value in data.items %}
            <tr>
                <td> {{ key }} </td> 
                <td> {{ value }} </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>



