<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" >
      <meta name="viewport" content="width=device-width">


      <title>Make Payment - UNA Payment Portal</title>

        {% load static %}
        <script src="{% static 'pay/js/script.js' %}"></script>
        <link rel="icon" href="{% static 'pay/media/unlogo.jpg' %}" type="image/jpg" />

        {% comment %} <script src="{% static 'superuser/js/script.js' %}"></script>
        <script src="{% static 'client/js/side.js' %}"></script> {% endcomment %}
        {% comment %} <link rel="icon" href="{% static 'superuser/media/favicon.jpg' %}" type="image/jpg" /> {% endcomment %}

        {% comment %} 
        <link rel="stylesheet" href="{% static 'client/css/style.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'client/css/side.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'client/css/styles.css' %}" media="all">
{% endcomment %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 

<!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
    rel="stylesheet"
    />

    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
    ></script>


<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css " /> 


   <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" /> 


      <link rel="stylesheet" href="{% static 'pay/css/payment.css' %}" media="all">


      <style>
          
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 10;
          width: 150px;
          height: 150px;
          margin: -76px 0 0 -76px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          display:none;
          {% comment %} background-color: black; {% endcomment %}
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        
          
      </style>
    </head>

    <body>

      <div id="loader"></div>

      <section class="vh-100" style="" id="forbid">
        <div class="container h-100" >
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="" >
              <div class="card shadow-2-strong" style="border-radius: 1rem;" >
                <div class="card-body p-5 " style="background-color: #FAF9F6;">

                  <center>
                  

                  <img src="{{ info.logo }}" width="150px" height="150px" style="margin-left: 0%; border-radius:100px;">
                  <h2 class="mb-3 mt-4">Make Payment</h2>
                </center>



                  <form class="form" style="" action="" method="post" id="paymentForm" name="" data-amount-url="{% url 'pay:ajax_load_amount_due' %}" data-credit-url="{% url 'pay:ajax_load_credit' %}" data-id="{{ assigned.id }}" >
  
                    {% csrf_token %}

                    <div class="input-group">
                        <input class="form-control" type="text" id="member" name="member"  value="{{ assigned.member }}" readonly hidden>
                    </div>

                    <div class="input-group">
                      <input class="form-control" type="text" id="member_id" name="member_id"  value="{{ assigned.member_id }}" hidden >
                    </div>

                    <div class="input-group">
                      <input class="form-control" type="text" id="code" name="code"  value="{{ code }}" readonly hidden>
                    </div>


                    <div class="input-group">
                        <input class="form-control" type="text" id="branch" name="branch"  value="{{ assigned.branch }}" readonly hidden>
                    </div>

                    <div class="input-group">
                        <input class="form-control" type="text" id="member_category" name="member_category"  value="{{ assigned.member_category }}" readonly hidden>
                    </div>

                    <div class="input-group">
                        <input class="form-control" type="text" id="group" name="group"  value="{{ assigned.group }}" readonly hidden>
                    </div>

                    <div class="input-group">
                        <input class="form-control" type="text" id="subgroup" name="subgroup"  value="{{ assigned.subgroup }}" readonly hidden>
                    </div>

                    <div class="input-group">
                      <input class="form-control" type="text" id="invoice_type" name="invoice_type" value="{{ assigned.invoice_type }}" hidden>
                  </div>

                 

                      <br/>
                   <label class="text-center">Payment Details</label>

                   <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon3">Invoice Type</span>
                    {% if assigned.invoice_type == "expiry" %}
                    <input class="form-control" type="text"  value="Expiry Invoice" readonly>
                    {% else %}
                    <input class="form-control" type="text" value="Non Expiry Invoice" readonly>
                    {% endif %}
                </div>

                    <div class="input-group mt-3">
                        <label class="input-group-text" for="fee_type">Fee Type</label>
                        <select class="form-select" id="fee_type" name="fee_type" required>
                            {% for x in fees %}
                                {% if x.id == assigned.fee_type %}
                                    <option value="{{ x.id }}" id="{{ fee_type.id }}">{{ x.fee_type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>


             <div class="input-group mt-3">
                <label class="input-group-text" for="fee_description">Fee Desc.</label>
                <select class="form-select"  id="fee_description" name="fee_description" required>
                    {% for x in descriptions %}
                        {% if x.id == assigned.fee_description %}
                            <option value="{{ x.id }}" id="{{ fee_description.id }}">{{ x.fee_description }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>



                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon3">Total Outst. bill</span>
                    <input class="form-control" type="text" id="outstanding_bill" name="outstanding_bill" value="{{ assigned.total_invoice }}" readonly>
                  </div>
                  <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon3">Assigned Duration</span>
                    <input class="form-control" type="text" id="assigned_duration" name="assigned_duration" value="{{ assigned.install_period }} Day(s)" readonly >
                  </div>


                <div class="">
                    <select class="form-select mt-3" id="payment_status" name="payment_status" onchange="loadDuration(this)" required >
                        <option selected value="">Payment Status</option>
                        <option value="part" id="part">Part Payment</option>
                        <option value="full" id="full">Full Payment</option>
                    </select>
                </div>


                <br/>

                <div id="payments" style="display:none;">

                {% if assigned.invoice_type == "expiry" %}
                    <div  style="display:none;" id="label">
                    <label class="mt-3 mb-1">Select Renewal Duration</label>

                   
                    <div class="form-check" >
                        {% for period in periods %}
                            {% if period.name != 'None' %}
                                <input type="radio" class="form-check-input range mt-3 install_range" name="install_range" value="{{ period.name }}" id="range{{ forloop.counter }}" onchange="radioCheck2(this)" >
                                <label class="form-check-label mt-3" for="install_range">{{ period.name }}</label><br/>
                            {% endif %}
                      {% endfor %}
                    </div>
                </div>
                   {% endif %}
  


               <div class=" mt-3" style="display:none;" id="input">
                <input class="form-control" type="text" id="numver" name="install_period" placeholder="Enter renewal period here..." disabled>
                </div>


                {% if assigned.invoice_type == "expiry" %}

                <div class="input-group mt-3">
                  <span class="input-group-text" id="basic-addon3">Outst. Renewal Bill</span>
                  {% if  assigned.expiration_bill %}
                      {% if assigned.expiration_bill < 0 %}
                      <input class="form-control" type="text" id="expiration_bill" name="expiration_bill"  value="0" readonly >

                      {% else %}
                       <input class="form-control" type="text" id="expiration_bill" name="expiration_bill" value="{{ assigned.expiration_bill }}" readonly >

                      {% endif %}
                  {% else %}
                  <input class="form-control" type="text" id="expiration_bill" name="expiration_bill"  value="0" readonly >
                {% endif %}
                  
                </div>



              <div class=" mt-3">
                  <input class="form-control" type="date" id="end_date" name="end_date" value="{{ dated }}" hidden>
              
              </div>
              

              {% endif %}


                <div class="input-group mt-3">
                  <span class="input-group-text" id="basic-addon3">Total amt. due</span>
                  {% if assigned.invoice_type == "expiry" %}
                  <input class="form-control" type="text" id="total_amount_due" name="total_amount_due" placeholder="Total amount due..." readonly>
                  
                  {% else %}
                  <input class="form-control" type="text" id="total_amount_due" name="total_amount_due" value="{{ assigned.total_invoice }}"  readonly>
                  {% endif %}

              </div>

                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon3">Credit Balance</span>
                    <input class="form-control" type="text" id="balance" name="outstanding_balance" value="{{ credit }}" readonly>

                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon3">Amt. to be paid</span>
                    <input class="form-control" type="text" id="paid" name="" placeholder="Amount to be paid..." readonly>
                </div>


                <div class="input-group mt-3" id="amount_input">
                    <span class="input-group-text" id="basic-addon3">Confirmed Amt.</span>
                    <input class="form-control" type="text" id="amount_paid" name="amount_paid" placeholder="Enter amount paid..." onchange="findArrears()" required>
                </div>
                <p class="mt-2" style="font-size:13px;">Note: You can edit fee if you wish to <b>pay more</b> than current amount.</p>


                <div class="input-group mt-3" id="arr">
                    <span class="input-group-text" id="basic-addon3">Arrears</span>
                    <input class="form-control" type="text" id="arrears" name="arrears" value="" placeholder="Arrears..." readonly >
                </div>
     


              <div class=" mt-3">
              <textarea class="form-control" id="remarks" name="remarks" placeholder="Remarks..." ></textarea>
            
              </div>
            </div>


              <div class="mt-5 text-center">
                <a onclick="window.history.go(-1); return false;"><button type="button" class="btn btn-primary btn-sm mr-3" >Back</button></a>

                <button id="payment_submit" type="button" data-member-id="{{ mid }}" data-pk="{{ assigned.id }}" data-client-id="{{ clid }}" data-url="{% url 'pay:ajax_load_bill' %}" class="btn btn-sm ml-3" style="background-color: #006c40; color: #fff">Proceed to Payment</button>
            </div>
              


                   
                </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




   
 

      {% comment %} <footer class="mt-5">
        <!-- Grid container -->
        
        <!-- Copyright -->
        <div class="text-center p-3 footer">
          Powered by
          <a class="text-white" href="https://akwaabasolutions.com/" target="_blank">Akwaaba Solutions</a>
        </div>
        <!-- Copyright -->
      </footer> {% endcomment %}
          
      


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
></script>
{% comment %}
	<script>
	{% if setItem == True %}
	
	window.localStorage.setItem('token', '1fe8480feff19495f8799e2133d7e60fe8a7628fdbe9416e467343a49978d3c5');
	
	{% endif %}
	</script>
{% endcomment %}

<center>
<script>
{% if messages %}
{% for msg in messages %}
  swal('{{ msg }}');

{% endfor %}

window.localStorage.setItem('token', '1fe8480feff19495f8799e2133d7e60fe8a7628fdbe9416e467343a49978d3c5');
{% endif %}

</script>
</center>









<script>



  




  $(document).ready(function(){
    $('#payment_submit').click(function(e){

      $('#payment_submit').prop('disabled', true);
      $('#payment_submit').text('Processing....');

      e.preventDefault()

      var url = $(this).attr('data-url');

      var member = $('#member').val();
      
      var member_id = $(this).attr('data-member-id');
      
      
      var amount_paid = $('#amount_paid').val();
      
      var client_id = $(this).attr('data-client-id');
      var invoice_id = $(this).attr('data-pk');
      
      
      var branch = $('#branch').val();
      var member_category = $('#member_category').val();
      var group = $('#group').val();
      var subgroup = $('#subgroup').val();
      
      
      var fee_type_id = $('#fee_type').val();
      var fee_description_id = $('#fee_description').val();
      
      
      var outstanding_bill = $('#outstanding_bill').val();
      var remarks = $('#remarks').val();
      // var user_type = $('#user_type').val();
      var assigned_duration = $('#assigned_duration').val();
      var expiration_bill = $('#expiration_bill').val();
      // var client_id = $('#client_id').val();
      var install_range = $('.install_range').val();
      var install_period = $('#numver').val();
      var total_amount_due = $('#total_amount_due').val();
      var outstanding_balance = $('#balance').val();
      
      var payment_status = $('#payment_status').val();
      var end_date = $('#end_date').val();
      var arrears = $('#arrears').val();
      var code = $('#code').val();
      var invoice_type = $('#invoice_type').val();
      

      if(arrears == ""){
        arrears = 0
      }
      if(remarks == ""){
        remarks = "None"
      }
      if(install_range == ""){
        install_range = "None"
      }

      if(install_period == ""){
        install_period = 0
      }

      if(outstanding_balance == ""){
        outstanding_balance = 0
      }

      //alert(payment_status)

      /*
      alert(install_period)
      alert(outstanding_balance)
      */

      

      if(confirm("\tAre you sure you want to proceed to payment? \nYou'll have a maximum of 5 minutes to make payment")){

        document.getElementById("loader").style.display = "block";
        document.getElementById("forbid").style.display = "none";


        $.ajax({
          url: url,
          data: {
            "member": member,
            "code":code,

            "member_id": member_id,
            "amount_paid": amount_paid,
          
            "client_id" : client_id,
            "invoice_id" : invoice_id,
            "branch" : branch,
            "member_category" : member_category,
            "group" : group,
            "subgroup" : subgroup,
            "fee_type_id" : fee_type_id,
            "fee_description_id" : fee_description_id,
    
            "outstanding_bill" : outstanding_bill,
            "remarks" : remarks,
            // "user_type" : user_type,
            "assigned_duration" : assigned_duration,
            "expiration_bill" : expiration_bill,
            "install_range" : install_range,
            "install_period" : install_period,
            "total_amount_due" : total_amount_due,
            "outstanding_balance" : outstanding_balance,
            
            "payment_status" : payment_status,
            "end_date" : end_date,
            "arrears" : arrears,
            "invoice_type": invoice_type,

 
          }
          }).done(function(data){
  
              // alert("Done")
              //alert("Done")
  
              window.location.href = data;
              // e.preventDefault()
          
          
            }).fail(function(data){
              $('#payment_submit').prop('disabled', false);
              $('#payment_submit').text('Proceed to payment');
              alert("Something went wrong")
          
              console.log(data)
          
            })
           }return false
        
           $('#payment_submit').prop('disabled', false);
           $('#payment_submit').text('Proceed to payment');

            });
    
    })
    














$(document).ready(function(){
$('#delete_button').click(function(){
var id = [];
var url = $("#delete_button").attr("data-delete-url");
var csrf = $('input[name=csrfmiddlewaretoken]').val()

$(':checkbox:checked').each(function(i){
id[i]=$(this).val()
})

if(id.length == 0){
alert("Please select item to delete")
}
else{
if(confirm("Are you sure you want to delete this item?")){

  $.ajax({
    url: url,
    method: "POST",
    data: {
      id,
      csrfmiddlewaretoken: csrf
    },
    success: function(response){
      for(var i=0; i<id.length; i++){
        $('tr#'+id[i]+'').css('background-color', '#ccc');
        $('tr#'+id[i]+'').fadeOut('slow');
      }
    } 
  })   
}

}
})
})



$(document).ready(function(){
$('#delete_assigned').click(function(){
var id = [];
var url = $("#delete_assigned").attr("data-remove-url");
var csrf = $('input[name=csrfmiddlewaretoken]').val()
$(':checkbox:checked').each(function(i){
id[i]=$(this).val()
})

if(id.length == 0){
alert("Please select item to delete")
}
else{
if(confirm("Are you sure you want to delete this item?")){

$.ajax({
  url: url,
  method: "POST",
  data: {
    id,
    csrfmiddlewaretoken: csrf
  },
  success: function(response){
    for(var i=0; i<id.length; i++){
      $('tr#'+id[i]+'').css('background-color', '#ccc');
      $('tr#'+id[i]+'').fadeOut('slow');
    }
  } 
})   
}
}
})
})

</script>



<script>



$(document).ready(function(){
  $("#numver").change(function () {
    var url = $("#paymentForm").attr("data-amount-url");
    var id = $("#paymentForm").attr("data-id");
    var range = $('input[name="install_range"]:checked').val();
  
    var period = $(this).val();


    
    $.ajax({
      url: url,
      data: {
        'id': id,
        'range': range,
        'period': period,
      },
      success: function (data) {
         // alert(data)
         $("#total_amount_due").val(data);
         // $("#paid").val(data);

         $("#paid").val(parseInt($("#total_amount_due").val()) - parseInt($("#balance").val()))
         $("#amount_paid").val($("#paid").val())

         //var number = $("#amount_paid").val() * parseFloat($("#charge_percentage").val() * 0.01)
         //let round_number = number.toFixed(2);

         //$("#charge").val(number.toFixed(2))

         if(parseInt($("#amount_paid").val()) >= parseInt($("#paid").val())){
                                
        
          if(parseInt($("#expiration_bill").val()) > 0){
            $("#arrears").val(parseInt($("#expiration_bill").val()) - parseInt($("#amount_paid").val()))
            
               if($("#arrears").val() < 0){
                  $("#arrears").val(0)     
                }
          }
           else{
            $("#arrears").val(parseInt($("#outstanding_bill").val()) - parseInt($("#amount_paid").val()))
               //arrears.value = parseInt(outstanding_bill.value) - parseInt(amount.value)
               if($("#arrears").val() < 0){
                $("#arrears").val(0)     
            }
           }
        }

      }
    });

    
});

})




$(document).ready(function(){

$("#year_range").change(function(){
var year_range=$(this).val();

window.location.href="?year_range="+year_range

})
})

</script> 

</body>
</html>


